@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic');


@font-face {
  font-family: Gagalin;
  src: url(../fonts/Gagalin-Regular.woff);
}

@font-face {
  font-family: Lifehack;
  src: url(../fonts/Lifehack-Medium.woff);
}