.social{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    width: 50%;

    @include phones{
        width: auto;
    }

    &__item{
        margin-left: rem(20px);
        opacity: 0.5;
       
        &:hover{
            opacity: 0.8;
        }

        &:first-child{
            margin-left: 0;
        }
    }
}

